.left_bar {
    width: 70%;
}

.main_para {
    font-size: 1.1em;
}

.main_content, .right_bar {
    width: 15%;
    padding: 10px;
    font-size: 1.4em;
    color:white;
}

.main_content ul, .right_bar ul {
    padding: 5px;
    list-style-type: none;
    margin-bottom: 50px;
}

.main_content ul a, .right_bar ul a {
    color: white;
}

.main_content li, .right_bar li {
    margin-bottom: 10px;
}

.main_content li a, .right_bar li a{
    text-decoration: none;
}

.main_content a {
    background-color: rgba(39, 206, 245, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1px;
    border-radius: 5px;
    color: rgba(148, 203, 236, 1.0);
}

.history_list li a, .activity_list li a {
    background-color: rgba(0, 0, 0, 0);
}

.history_list li, .activity_list li{
    list-style-type: disc;
    margin-left: 35px;
    font-size: .8em;
}

.history_list li::marker, .activity_list li::marker {
    color: rgba(39, 206, 245, 0.8);
}

.right_bar .history_title, .right_bar .activity_title{
    background-color: rgba(39, 206, 245, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;

}
