.item_category, .item_type, .item_depth_range, .item_temp_range, .item_resources {
    font-size: 1.3em;
    color: rgba(148, 203, 236, 1.0);
    margin-bottom: 1em;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(148, 203, 236, 1.0);
    list-style-position: inside;
}

.item_info_wrapper {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.item_category a, .item_type a, .item_depth_range a, .item_temp_range a, .item_resources a{
    font-size: .8em;
}

.comment_main_wrapper {
    max-width: 65%;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.comment_title_wrapper {
    margin-bottom: 2em;
}

.comment_title {
    font-size: 1.8em;
    text-align: left;
}

.comment_wrapper {
    background-color: rgba(0, 114, 178, 0.6);
    padding: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgba(148, 203, 236, 1.0);
}

.comment {
    display: flex;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .5em;
    border: 2px solid rgba(148, 203, 236, 1.0);
}

.profile_pic {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-bottom: .5em;
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: .5em;
}

.username {
    font-weight: bold;
}

.comment_content {
    flex-grow: 1;
    text-align: left;
    margin-left: 2em;
}

.comment_text {
    font-size: 1.1em;
    margin-bottom: .5em;
}

.comment_date {
    font-size: .8em;
    text-align: left;
}

.reply {
    display: flex;
    width: 100%;
    padding-top: .2em;
    padding-bottom: 1em;
}

.reply_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5em;
    margin-right: .5em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.reply_wrapper {
    margin-left: 1em;
    margin-top: 2em;
}

.comment_wrapper .comment {
    margin-bottom: .5em;
}