* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search_bar {
    color: black;
}

.info_main_wrapper {
    max-width: 65%;
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.ex_info_section {
    flex: 1 1 70%;
    padding: 1em;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ex_pic_section {
    flex: 0 1 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 114, 178, 0.6);
    border-radius: 10px;
    align-items: center;
}

.ex_title {
    font-size: 2em;
    text-align: left;
    margin-bottom: .6em;
    color: white;
}

.ex_info {
    font-size: 1.1em;
    line-height: 1.5;
    align-content: start;
}

.ex_info a {
    color: rgba(148, 203, 236, 1.0);
    text-decoration: none;
}

.ex_pic_title {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: .5em;
}

.ex_pic {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: .5em;
}

.ex_link {
    font-size: 1.2em;
    color: rgba(148, 203, 236, 1.0);
}

.list_main_wrapper {
    max-width: 65%;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.2);
    text-align: center;
}

.list_title_wrapper {
    text-align: left;
    margin: 1em 0;
    font-size: 1.8em;
}

.list_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 114, 178, 0.6);
    border-radius: 10px;
    align-items: center;
    border-right: 2px solid rgba(148, 203, 236, 1.0);
    padding: 1em 0;
    font-size: 1.6em;
    margin: 0;
}

.list header p {
    flex: 1;
    text-align: center;
}   

.item_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    flex-direction: column;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1em 0;
    padding: .5em;
    border-radius: 10px;
    box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 114, 178, 0.6);
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgba(148, 203, 236, 1.0);
}

.item_pic {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 1em;
}

.item_pic img {
    width: auto;
    height: auto;
    object-fit: cover;
}

.egg_pic {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: auto;
    object-fit: cover;
}

.item_name {
    text-align: center;
    font-size: 1.1em;
}

.item_name, .depth_range, .biome_resources, .item_desc {
    flex: 1;
    padding: 0 1em;
    color: rgba(148, 203, 236, 1.0);
}


.depth_range {
    font-size: 1.1em;
    margin-bottom: 10px;
    list-style-position: inside;
}

.biome_resources {
    padding: 0;
    font-size: 1.0em;
    margin-bottom: 1em;
    list-style-position: inside;
}

.biome_resources li {
    margin-bottom: .5em;
}

.item_desc {
    font-size: 1.0em;
    line-height: 1.5;
}